<div class="container mt-5">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">

        <h3>TypeScript</h3>
        <p>TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. </p>
        <ul>
            <li>Is purely object-oriented programming</li>
            <li>It offers classes, modules, and interfaces to help you build robust components</li>
            <li>IntelliSense, code completion...</li>
          </ul>

          <h3>Angular apps are modular</h3>
          <p>Group components, directives, pipes and services that are related, in such a way that can be combined with other modules to create an application. </p>
          <ul>
              <li>For example, to use the router service in your app, you import the Router NgModule</li>
            </ul>

            <h3>Angular 2 is component based</h3>
            <p>The Angular 2 Component combines the AngularJS Directive, Controller, and Scope. </p>
            <ul>
                <li>it is the basic building block</li>
                <li>login component, home component, nav component...</li>
              </ul>
            <h3>Dependency Injection</h3>
            <p>It is the ability to add the functionality of components at runtime. </p>
            <ul>
                <li>A class which has the injectable decorator.</li>
                <li>login component, home component, nav component...</li>
              </ul>
      </div>
    </div>
  </div>