.overview-img{
    background-image: url("/assets/images/PH-Overview.png");
    /* background-color: #cccccc; */
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-size: 400px 100px; */
}